html {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #ffe6f2, #ffd9ec);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.song {
  visibility: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  visibility: hidden;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 18vh;
}

/* ====== TEXT SIZE DESKTOP ====== */
.one {
  font-size: 4rem;
}

.two {
  font-size: 1.4rem;
}

.three {
  font-size: 2.8rem;
}

.four .text-box {
  border: 3px solid #aaa;
  border-radius: 10px;
  margin: 0 auto;
  padding: 12px;
  width: 600px;
}

.text-box p {
  text-align: left;
}

.text-box .fake-btn {
  background-color: #ff8bb3;
  border-radius: 5px;
  padding: 8px 18px;
  bottom: -45px;
  right: 15px;
  position: absolute;
  color: white;
}

.five p {
  font-size: 2rem;
  margin: 0 20px;
}

.five .idea-5 {
  font-size: 3.5rem;
}

.idea-6 span {
  font-size: 10rem;
}

/* ======= PHOTO SECTION ======= */
.six {
  top: 10vh;
  position: relative;
}

.six img.profile-picture {
  width: 75%;
  max-width: 350px;
  border-radius: 10px;
}

.six .hat {
  position: absolute;
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
}

.wish-hbd {
  font-size: 3rem;
}

.wish h5 {
  font-size: 1.6rem;
  font-weight: 300;
}

/* ====== MOBILE RESPONSIVE ====== */
@media (max-width: 600px) {
  .container > div {
    top: 13vh;
  }

  .one {
    font-size: 2.3rem;
  }

  .two {
    font-size: 1rem;
    padding: 0 15px;
  }

  .three {
    font-size: 1.8rem;
    padding: 0 15px;
  }

  .four .text-box {
    width: 85%;
  }

  .text-box .fake-btn {
    bottom: -35px;
    font-size: 0.9rem;
  }

  .five p {
    font-size: 1.4rem;
  }

  .five .idea-5 {
    font-size: 2.4rem;
  }

  .idea-6 span {
    font-size: 5rem;
  }

  /* FOTO */
  .six img.profile-picture {
    width: 85%;
    max-width: 280px;
  }

  .six .hat {
    width: 45px;
    top: -40px;
  }

  .wish-hbd {
    font-size: 1.8rem;
  }

  .wish h5 {
    font-size: 1.2rem;
    padding: 0 20px;
  }

  /* Ending */
  .nine p {
    font-size: 1.2rem;
    padding: 0 20px;
  }
}
