html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #ffe6f2, #ffd9ec);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.song { visibility: hidden; }

/* ===========================
   CONTAINER ANIMASI GSAP
=========================== */
.container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  visibility: hidden;
}

.container > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ===========================
      TEKS AWAL
=========================== */
.one {
  font-size: 4rem;
}

.two {
  font-size: 1.3rem;
  font-weight: 300;
}

/* ===========================
      TEKS SLIDE 3
=========================== */
.three {
  font-size: 2.7rem;
}

/* ===========================
      CHAT BOX
=========================== */
.four .text-box {
  border: 3px solid #aaa;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  background: white;
  margin: auto;
  position: relative;
}

.text-box p {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.fake-btn {
  background-color: #ff72b6;
  border-radius: 7px;
  color: #fff;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  cursor: pointer;

  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}

/* ===========================
      SLIDE 5
=========================== */
.five p {
  font-size: 2rem;
  line-height: 2.6rem;
}

/* ===========================
      FOTO
=========================== */
.six img.profile-picture {
  width: 80%;
  max-width: 380px;
  border-radius: 12px;
}

/* TOPI */
.six .hat {
  position: absolute;
  width: 70px;
  top: -18%;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
}

/* ===========================
      UCAPAN
=========================== */
.wish-hbd {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  margin: 10px 0;
  color: #ff61a6;
}

.wish h5 {
  font-size: 1.4rem;
  font-weight: 300;
  width: 90%;
  margin: 0 auto;
  line-height: 2rem;
}

/* ===========================
      SLIDE AKHIR
=========================== */
.nine p {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0 20px;
  line-height: 2.2rem;
}

#replay {
  color: #ff5fa2;
  text-decoration: underline;
  cursor: pointer;
}

/* ===========================
      RESPONSIVE HP
=========================== */
@media (max-width: 500px) {
  .one { font-size: 2.6rem; }
  .two { font-size: 1rem; }
  .three { font-size: 2rem; }

  .five p {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  .six img.profile-picture { width: 85%; }

  .six .hat {
    width: 50px
